<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="LogFileAppenderInfo" type="log4net.Appender.FileAppender">
    <param name="File" value="c:\logs\fhir.info.txt" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG"/>
      <levelMax value="INFO" />
    </filter>
  </appender>
  <appender name="LogFileAppenderWarn" type="log4net.Appender.FileAppender">
    <param name="File" value="c:\logs\fhir.warn.txt" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="" />
      <param name="Footer" value="" />
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
    </filter>
  </appender>
  <logger name="FhirStarter.STU3.Instigator.DotNetCore3.Diagnostics">
    <appender-ref ref="LogFileAppenderInfo" />
  </logger>
  <root>
    <appender-ref ref="LogFileAppenderWarn" />
  </root>
</log4net>